# Your Client ID check here --> https://rclone.org/drive/#making-your-own-client-id
CLIENT_ID = ""

# Your Client Secret check here --> https://rclone.org/drive/#making-your-own-client-id
CLIENT_SECRET = ""

# Your Token generated with "rclone config" and then do --> cat /root/.config/rclone/rclone.conf | grep "token ="
TOKEN =  